<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Blog</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="assests/style.css">
        <link rel="stylesheet" href="assests/blog.css">
    </head>
    <body>
        <div class="menubar">
            <label class="logo"<span><img src="img/myspac.jpeg" style="width:6%"></span></label>
            <ul>
                <li><a href="home.html">Home</a>
                </li>
                <li><a class="active" href="#">Blog</a></li>
                <li><a href="chatbot.html">ChatBot</a></li>
                <li><a href="diary.html">Diary Writing</a></li>
                <li><a href="therapist.html">Therapist Appointment</a></li>
            </ul>
        </div>
        <section class="main">

            <div class="container cards-container">
          
              <h1>EMOTIONS AND MOODS</h1>
              <img class="deco" src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fpluspng.com%2Fimg-png%2Fdivider-png-hd-divider-png-1589-304-1589.png&f=1&nofb=1">
          
              <div class="flex-container">
          
                <div href="#" class="card-box">
                  <img src="img/happy.jpeg" class="card-img">
                  <div class="card-text">
                    <div class="card-data">
                      <p class="data-text">July 03, 2022</p>
                      <p class="data-text   text-right">Posted by <a href="#" class="autor">MY SPACE</a></p>
                      <p class="data-text">12 Comments</p>
                    </div>
          
                    <a href="https://en.m.wikipedia.org/wiki/Happiness" class="card-title">HAPPINESS</a>
                    <p class="card-description"> Characterized by smiling and positive body language, 
                        happiness can be the result of receiving a piece of good news or
                        having a friendly interaction with someone.</p>
                  </div>
                </div>
          
                <div href="#" class="card-box">
                  <img src="img/sad.jpeg" class="card-img">
          
                  <div class="card-data">
                    <p class="data-text">July 03, 2022</p>
                    <p class="data-text   text-right">Posted by <a href="#" class="autor">MY SPACE</a></p>
                    <p class="data-text">12 Comments</p>
                  </div>
                  <a href="https://en.m.wikipedia.org/wiki/Sadness" class="card-title">SAD</a>
                  <p class="card-description">The brain may respond to sad events such as the death of a 
                    loved one or loss of a job by sending signals to the body 
                    to cry or sulk.</p>
                </div>
          
              </div>
          
            </div>
          </section>
          <section class="main">

            <div class="container cards-container">
              <img class="deco" src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fpluspng.com%2Fimg-png%2Fdivider-png-hd-divider-png-1589-304-1589.png&f=1&nofb=1">
          
              <div class="flex-container">
          
                <div href="#" class="card-box">
                  <img src="img/anger.jpeg" class="card-img">
                  <div class="card-text">
                    <div class="card-data">
                      <p class="data-text">July 03, 2022</p>
                      <p class="data-text   text-right">Posted by <a href="#" class="autor">MY SPACE</a></p>
                      <p class="data-text">12 Comments</p>
                    </div>
          
                    <a href="https://en.m.wikipedia.org/wiki/Anger" class="card-title">ANGER</a>
                    <p class="card-description">  Physical responses to anger include the tightening of muscles and warming of the body. Anger can be the result of receiving bad news or having something not go an intended way.</p>
                  </div>
                </div>
          
                <div href="#" class="card-box">
                  <img src="img/fear.jpeg" class="card-img">
          
                  <div class="card-data">
                    <p class="data-text">July 03, 2022</p>
                    <p class="data-text   text-right">Posted by <a href="#" class="autor">MY SPACE</a></p>
                    <p class="data-text">12 Comments</p>
                  </div>
                  <a href="https://en.wikipedia.org/wiki/Fear" class="card-title">FEAR</a>
                  <p class="card-description"> Fear is often caused by an uncertainty or the unknown of what is to come. The body may receive psychological instructions to cool the body via perspiration or release energy through shaking.</p>
                </div>
          
              </div>
          
            </div>
          </section>
          <section class="main">

            <div class="container cards-container">
          
              <img class="deco" src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fpluspng.com%2Fimg-png%2Fdivider-png-hd-divider-png-1589-304-1589.png&f=1&nofb=1">
          
              <div class="flex-container">
          
                <div href="#" class="card-box">
                  <img src="img/guilt.jpeg" class="card-img">
                  <div class="card-text">
                    <div class="card-data">
                      <p class="data-text">July 03, 2022</p>
                      <p class="data-text   text-right">Posted by <a href="#" class="autor">MY SPACE</a></p>
                      <p class="data-text">12 Comments</p>
                    </div>
          
                    <a href="https://en.m.wikipedia.org/wiki/Guilt" class="card-title">GUILT</a>
                    <p class="card-description"> Guilt is caused by the knowledge of doing something wrong. When guilty, an individual may become less talkative or feel more anxious over time.</p>
                  </div>
                </div>
          
                <div href="#" class="card-box">
                  <img src="img/surprise.jpeg" class="card-img">
          
                  <div class="card-data">
                    <p class="data-text">July 03, 2022</p>
                    <p class="data-text   text-right">Posted by <a href="#" class="autor">MY SPACE</a></p>
                    <p class="data-text">12 Comments</p>
                  </div>
                  <a href="https://en.wikipedia.org/wiki/Surprise_(emotion)" class="card-title">SURPRISE</a>
                  <p class="card-description">Surprise can be caused by happy events such as receiving a gift or sad events such as a sudden loss. Surprise can lead to excited body language or shocked body language.</p>
                </div>
          
              </div>
          
            </div>
          </section>
          
    </body>
</html>


