<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Therapist Appointment</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="assests/style.css">
        <link rel="stylesheet" href="assests/therapist.css">
    </head>
    <body>
        <div class="menubar">
            <label class="logo"<span><img src="img/myspac.jpeg" style="width:6%"></span></label>
            <ul>
                <li><a href="index.html">Home</a>
                </li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="chatbot.html">ChatBot</a></li>
                <li><a href="diary.html">Diary Writing</a></li>
                <li><a class="active" href="#">Therapist Appointment</a></li>
                
            </ul>
        </div>
        <section class="main">

            <div class="container cards-container">
          
              <h1>BOOK YOUR APPOINTMENT</h1>
              <img class="deco" src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fpluspng.com%2Fimg-png%2Fdivider-png-hd-divider-png-1589-304-1589.png&f=1&nofb=1">
          
              <div class="flex-container">
          
                <div href="#" class="card-box">
                  <img src="img/psychologist.jpeg" class="card-img">
                  <div class="card-text">
                    <div class="card-data">
                      
                    </div>
          
                    <a href="https://www.betterhelp.com/michelle-prado/?start=true&landing_type=general&utm_source=AdWords&utm_campaign=storefront&utm_term=find+a+therapist_e&utm_content=michelle-prado_14990&gclid=Cj0KCQjwzqSWBhDPARIsAK38LY_oikUl5UlKagVcQmuSdEJ3vfkpr192nW4fn6hIlARRgkeaaS1YGDwaAmj5EALw_wcB&not_found=1&gor=rd_michelle-prado" class="card-title">THERAPIST</a>
                    <p class="card-description">
                        <b>Specialties</b><br>
                        Stress, Anxiety, relationship issues, family conflicts, trauma and abuse, grief. 
                    </p>
                  </div>
                </div>
          
                <div href="#" class="card-box">
                  <img src="img/therapist.jpeg" class="card-img">
          
                  <div class="card-data">
                  </div>
                  <a href="https://www.apollo247.com/specialties/psychology" class="card-title">PSYCHOLOGIST</a>
                  <p class="card-description">
                    <b>Specialties</b><br>
                    Clinical psychology,Psyco therapy.
                  </p>
                </div>
          
              </div>
          
            </div>
          </section>
          
          
    </body>
</html>
